#app {
    font-family: 'Inter', sans-serif;
}

h5.informasiproduk {
    color: #4e944f;
    font-weight: 450;
}

.btn-success {
    background-color: #4e944f;
    color: #f9f9f9;
}

.img-detail {
    width: 1040px;
    height: 250px;
    object-fit: cover;
}

h5.card-title {
    color: #4e944f;
    font-weight: 450;
}

h4.informasiproduk {
    color: black;
    font-weight: 500;
    letter-spacing: 0.6px;
}

p.informasiproduk {
    color: darkgray;
}

.router-link-exact-active {
    font-weight: bold;
}

/*
li {
    color:black;
}

.container-fluid{
    color: black;
    color-adjust: black;
}

nav.justify-content-end{
    color: black;
    color-adjust: black;
}

li.nav-item{
    color: black;
    color-adjust: black;
} */