#app {
    font-family: 'Inter', sans-serif;
}

h5.informasiproduk {
    color: #4e944f;
    font-weight: 450;
}

section.bgtentang {
    background-image: url('@/assets/img/tentang-bg.png');
}

.nav-link {
    color: #242e33;
}

.btn-success {
    background-color: #4e944f;
    color: #f9f9f9;
}

.img-detail {
    width: 1040px;
    height: 250px;
    object-fit: cover;
}

.mb-20{
    margin-bottom: 18rem;
}

.mb-video{
    margin-bottom: 2rem;
}

.img-table {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

h5.card-title {
    color: #4e944f;
    font-weight: 450;
}

h4.informasiproduk {
    color: black;
    font-weight: 500;
    letter-spacing: 0.6px;
}

p.informasiproduk {
    color: darkgray;
}

.router-link-exact-active {
    font-weight: bold;
}